// COLORS
$dark-blue: #1F1E38;
$acquamarine: #39ffbf;
$red: #F81D39;
$white: #fff;
$blue: #527CEB;
$grey: #333;
$txt-opacity: rgba(255, 255, 255, 0.5);
//FONT SIZES
$fs-h1: 80px; // jumbotron title
$fs-h2: 45px; // section About Us
$fs-xh3: 30px;
$fs-h3: 26px; // section title
$fs-title: 20px;
$fs-h4: 18px; //section sub-title
$fs-p: 16px;
$fs-small: 12px;
//FONT FAMILY
$jamjuree: 'Bai Jamjuree',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;
$light: 300;
$regular: 400;
$bold: 600;
$xbold: 700;