// COLORS
$dark-blue: #1F1E38;
$acquamarine: #39ffbf;
$red: #F81D39;
$white: #fff;
$blue: #527CEB;
//FONT SIZES
$fs-h1: 36px; // jumbotron title
$fs-h2: 24px; // section About Us
$fs-h3: 18px; // section title
$fs-h4: 14px; //section sub-title
$fs-title: 16px;
$fs-p: 12px;
//FONT FAMILY
$jamjuree: 'Bai Jamjuree',
sans-serif;
$montserrat: 'Montserrat',
sans-serif;